<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Smoke Test">
        <classes>
            <class name="Runners.SmokeTest"></class>
        </classes>
    </test>
    <test name="Secondary Smoke Test">
        <classes>
            <class name="Runners.SecondarySmokeTest"></class>
        </classes>
    </test>
    <test name="Regression Test">
        <classes>
            <class name="Runners.RegressionTest"></class>
        </classes>
    </test>

</suite>